@using WebApplication8.Data.Entities
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
    @if(ViewBag.Error !=null)
    {
        <span>@ViewBag.Error</span>
    }
    <form method="post">
        <input type="hidden" asp-for="Id" />
        <div> 
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" />
           
        </div>
         <div> 
             <label asp-for="LastName"> Last Name</label>
            <input asp-for="LastName" />
           
        </div>
          <div> 
             <label asp-for="IDNumber"> Id Number</label>
            <input asp-for="IDNumber" />

        </div>
         <div> 
             <label asp-for="Email">Email</label>
            <input asp-for="Email" />
           
        </div>
        <div>
            <button type="submit">@(Model.Id == 0?"Add":"Update")</button>
        </div>
    </form>
</body>
</html>
